*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(ingranaggi.png);
	background-size: cover;
	background-position: center;
	margin-top: 40
	background-color black;
	font-family: sans-serif;
}

.regform{
	border: 5px solid darkgray;
    width: 750px;
    background-color: rgba(204, 196, 196, 0.6);
    margin: auto;
    color: #400040;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 50px 50px 0px 0px;
}

.main{
	border: 5px solid darkgray;
    background-color: rgba(20, 19, 17, 0.5);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 750px;
    /*padding: 0 22px 20px 22px;*/
    /* padding-bottom: -100px;*/
    margin: auto;
}

form {
    padding: 10px;
}

#name {
    width: 100%;
    height: 420px;
}

.name {
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.username {
    border: 2px solid darkgray;
    position: relative;
    left: 15px;
    top: -3px;
   /* line-height: 40px;*/
    border-radius: 6px;
   /* padding: 0 22px;*/
    padding: 0 30px 0 10px;
    font-size: 20px;
}

.userlabel {
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 16px;
    left: 1px;
    top: -2px;
}

.email {
    border: 2px solid darkgray;
    position: relative;
    left: 15px;
    top: -4px;
   /* line-height: 40px;*/
    border-radius: 6px;
   /* padding: 0 22px;*/
    padding: 0 30px 0 10px;
    font-size: 20px;
    width: 480px;
}

.emaillabel{
	position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 16px; 
    left: 1px;
    top: -3px;
}

.password {
    border: 2px solid darkgray;
    position: relative;
    left: 15px;
    top: -6px;
   /* line-height: 40px;*/
    border-radius: 6px;
   /* padding: 0 22px;*/
    padding: 0 30px 0 10px;
    font-size: 20px;
}

.passlabel {
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 18px;
    left: 1px;
    top: -5px;
}

/*
.div1{
	
}*/

.div2{
	text-align: center;
	margin-top: 50px;
}

.div3{
	text-align: right;
	margin-top: 50px;
	margin-right: 8px;
}


.btn {
    border: 2px solid darkgray;
    position: relative;
    left: 330px;
    top: 130px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    padding: 0 30px 0 10px;
    font-size: 16px;
}

.list1 {
    /*margin-top: 30px;*/
    color: rgb(233, 233, 219);
}

.list {/*DESIGNERS*/
    position: relative;
    left: 550px;
    top: 40px;
    line-height: 25px;
    padding: 0 22px;
    padding: 0 36px 0 10px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
}

.language {/*SELECT*/
    margin-top: -30px;
    margin-left: 20px;
} 

.button{
	background-image: url("../immaginiHtml/freccia.jpg");
	width: 55px;
	height: 40px;
	background-size: cover;
}